#menu ul{
    display: block;
	padding: 0px;
	text-align: center;
	margin-bottom: 25px;
	
	border: 1px solid #EEEEEE;
	border-width: 1px 0;
	/*color of the nav menu*/
	background: black;
}

#menu ul li{
	display: inline-block;
	padding: 22px 25px;
	position: relative;
}

#menu ul li a{
	
	font-size: 1em;
	color: white;
}

#menu ul li ul{

	display: block;
	
	position: absolute;
	background: black;
	
	z-index: 10;
	
	top: 100%;
	left: 50%;
	width: 160px;
    margin-left: -80px;
	border-top: 1px solid #E4E4E4;
	
	background-color: black;
	border-color: #DDDDDD;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#menu ul li li ul{
    margin-left: 0;
    top: 0;
    left: 160px;
}

#menu ul li ul li a{
    display: block;
	
	font-size: 0.9em;
}

#menu ul ul li{
	width: 160px;
	text-align: center;
	padding: 10px 0;
}

#menu ul li:hover > ul{
	
	display: block;
}
.test1:hover, .test1 a:hover{
	color: #00ff88;
	text-decoration: none;
}
.test1 ul{
    display: block;
	padding: 0px;
	text-align: center;
	margin-bottom: 25px;
	
	border: 1px solid #EEEEEE;
	border-width: 1px 0;
	/*color of the nav menu*/
	background: black;
}

.test1 ul li{
	display: inline-block;
	padding: 22px 25px;
	position: relative;
}
.test1 ul li a{
	
	font-size: 1em;
	color: white;
}

.test1 ul li ul{

	display: block;
	
	position: absolute;
	background: black;
	
	z-index: 10;
	
	top: 100%;
	left: 50%;
	width: 160px;
    margin-left: -80px;
	border-top: 1px solid #E4E4E4;
	
	background-color: black;
	border-color: #DDDDDD;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*good here*/
.test1 ul li li ul{
    margin-left: 0;
    top: 0;
    left: 160px;
}

.test1 ul li ul li a{
    display: block;
	
	font-size: 0.9em;
}

.test1 ul ul li{
	width: 160px;
	text-align: center;
	padding: 10px 0;
}

.test1 ul li:hover > ul{
	
	display: block;
}