<!doctype html><html lang="en" class="no-js">
<head>
<meta charset="utf-8">


	
	










<link rel="stylesheet" href="full_size.css" media="(min-device-width: 768px)">





 	              

</head>
<body>
    
    <!-- iphone screen -->

<!-- /iphone screen --> 
    
    <!-- banner panel -->

<!-- /banner panel -->    
          
	<!-- dynamic page container -->

<!-- /dynamic page container -->

<!-- carousel -->
<footer>

    <div class="toggle-footer" ><a ng-click="hidden=false"> Wedding</a>  <a ng-click="hidden=true"> Commercial</a>  Editorial  Blog  About  Contact
    </div>
    
    <div id="footer-content" ng-hide="hidden == true" ng-animate="'fade'">
       
            <ul class="">
                <li><a href="" id="">Home</a></li>
                <li><a href="" id="">About</a></li>
                </ul>
           </div>
        
        
   

</footer>
</div>
<!-- /javascript -->
</body>
</html>